In [12]:
import pandas as pd
import matplotlib.pyplot as plt

from datetime import datetime

from savvy_freight_eta.constants import (
    ORDER_ID,
    GEN_FOLDER,
    DATA_FOLDER,
    ORIGIN,
    DESTINATION,
    PLANNED_DEPARTURE_DATE,
    EFFECTIVE_DEPARTURE_DATE,
    PLANNED_ARRIVAL_DATE,
    EFFECTIVE_ARRIVAL_DATE,
    PO_DATASET_PATH,
)

In [13]:
print(f"{DATA_FOLDER}transition_time.xlsx")
df = pd.read_excel(
        DATA_FOLDER / "transition_time.xlsx",
        dtype={"Order Number": "str"}
    )

date_cols =  ["PTS", "ATS", "PTA", "ATA", "ETA"]
df = df[["Order Number", "Ship-From", "Ship-To"] + date_cols]
df = df.dropna(axis=0)

/home/aguscas/github/cfl-savvy-freight-eta/data

In [14]:
df.shape

(5443, 7)

In [15]:
df.nunique()

Order Number    5443
Ship-From         10
Ship-To           73
PTS              127
ATS             2979
PTA              132
ATA             3632
dtype: int64

In [16]:
for col in date_cols:
    df[col] = df[col].astype(str).apply(lambda x: x[4:])
    df[col] = pd.to_datetime(df[col], format="%d.%m. %H:%M")
    df[col] = df[col].apply(lambda x: x.replace(year=2020) if x.month == 12 else x.replace(year=2021))

In [17]:
df.head()

,Order Number,Ship-From,Ship-To,PTS,ATS,PTA,ATA
1,2182202012160020102,ESCH-BELVAL (R),MERTERT PORT (R),2020-12-16 11:08:00,2020-12-16 11:59:00,2020-12-22 11:09:00,2020-12-19 08:50:00
2,2182202012160020103,ESCH-BELVAL (R),DUISBURG-RUHRORT HAFEN,2020-12-16 11:08:00,2020-12-16 11:59:00,2020-12-23 11:09:00,2020-12-22 10:02:00
4,2182202012160020105,ESCH-BELVAL (R),ANTWERPEN OORDEREN K486-504,2020-12-16 11:08:00,2020-12-16 11:59:00,2020-12-21 11:09:00,2020-12-24 09:56:00
5,2182202012160020106,ESCH-BELVAL (R),MERTERT PORT (R),2020-12-16 11:08:00,2020-12-16 11:45:00,2020-12-22 11:09:00,2020-12-19 05:12:00
6,2182202012160020107,ESCH-BELVAL (R),MERTERT PORT (R),2020-12-16 11:08:00,2020-12-16 11:29:00,2020-12-22 11:09:00,2020-12-19 05:36:00

In [18]:
df.to_csv(GEN_FOLDER / "po_dataset.csv")